%p#notice= notice

%p
  %b Name:
  = @question.name
%p
  %b Text:
  = @question.text
%table
  %tr
    %th Answers
    %th= link_to 'New Answer', new_question_answer_path(@question)
  - @question.answers.each do |answer|
    %tr
      %td= answer.text
      %td= link_to 'Edit', edit_question_answer_path(@question)

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', discipline_path(@discipline)
