%p#notice= notice

%p
  %b Text:
  = @answer.text
%p
  %b Question:
  = @answer.question_id

= link_to 'Edit', edit_question_answer_path(@question, @answer)
\|
= link_to 'Back', question_path(@question)
